@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

// Colors

// Primary
$blue: hsl(246, 80%, 60%);

$light-red-work: hsl(15, 100%, 70%);
$soft-blue-play: hsl(195, 74%, 62%);
$light-red-study: hsl(348, 100%, 68%);
$lime-green-exercise: hsl(145, 58%, 55%);
$violet-social: hsl(264, 64%, 52%);
$soft-orange-self-care: hsl(43, 84%, 65%);

// Neutral
$very-dark-blue: hsl(226, 43%, 10%);
$dark-blue: hsl(235, 46%, 20%);
$desaturated-blue: hsl(235, 45%, 61%);
$pale-blue: hsl(236, 100%, 87%);

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    color: #fff;
    background-color: $very-dark-blue;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 20px;
    width: 1100px;
}

// Main section styles
.main {
    position: relative;
    width: 250px;
    height: auto;

    .profile {
        background-color: $blue;
        padding: 25px 0 100px 20px;
        border-radius: 15px;
        position: absolute;
        top: 0%;
        width: 100%;
        z-index: 1;

        img {
            width: 75px;
            height: auto;
            border: 2px solid #fff;
            border-radius: 50%;
            margin-bottom: 30px;
        }

        p {
            font-size: 15px;
            font-weight: 400;
            color: $pale-blue;
        }

        h1 {
            font-size: 32px;
            font-weight: 300;
        }

        .mob-only {
            display: none;
        }
    }

    .days-filter {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        position: absolute;
        top: 75%;
        width: 100%;
        background-color: $dark-blue;
        padding: 90px 0 10px 20px;
        border-radius: 0 0 15px 15px;
        
        button {
            font-family: 'Rubik', sans-serif;
            color: $pale-blue;
            margin-bottom: 15px;
            background-color: transparent;
            border: none;
        }

        button:hover {
            cursor: pointer;
            color: #fff;
        }
    }
}

// Cards section styles
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 150px;

    .card.work, .card.play, .card.study, .card.exercise, .card.social, .card.self-care {
        position: relative;

        .background {
            border-radius: 15px 15px 0 0;
            width: 250px;
            height: 100px;
        }

        .info {
            position: absolute;
            top: 40%;
            background-color: $dark-blue;
            width: 250px;
            padding: 25px;
            border-radius: 15px;

            .type {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 30px;
            }

            .current-hours {
                font-size: 42px;
                font-weight: 300;
                margin-bottom: 15px;
            }

            .last-hours {
                color: $pale-blue;
                font-size: 15px;
            }
        }
    }

    .card.work {
        .background {
            background: url("../images/icon-work.svg"), $light-red-work;
            background-repeat: no-repeat;
            background-position: 90% -50%;
        }
    }

    .card.play {
        .background {
            background: url("../images/icon-play.svg"), $soft-blue-play;
            background-repeat: no-repeat;
            background-position: 90% -50%;
        }
    }

    .card.study {
        .background {
            background: url("../images/icon-study.svg"), $light-red-study;
            background-repeat: no-repeat;
            background-position: 90% -50%;
        }
    }

    .card.exercise {
        .background {
            background: url("../images/icon-exercise.svg"), $lime-green-exercise;
            background-repeat: no-repeat;
            background-position: 90% -10%;
        }
    }

    .card.social {
        .background {
            background: url("../images/icon-social.svg"), $violet-social;
            background-repeat: no-repeat;
            background-position: 90% -50%;
        }
    }

    .card.self-care {
        .background {
            background: url("../images/icon-self-care.svg"), $soft-orange-self-care;
            background-repeat: no-repeat;
            background-position: 90% -50%;
        }
    }

    .card.work:hover, .card.play:hover, .card.study:hover, .card.exercise:hover, .card.social:hover, .card.self-care:hover {
        cursor: pointer;

        .info {
            background-color: $desaturated-blue;
        }
    }
}


// Media queries
@media (max-width: 1068px) {

    .container {
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 80px;
        margin: 80px 0px 80px 0;
    }
    
    // Main section styles
    .main {
        place-self: center;

        .profile {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 30px 20px 30px 20px;

            img {
                width: 55px;
                margin-bottom: 0px;
                margin-right: 20px;
            }

            p {
                font-size: 14px;
            }

            h1 {
                font-size: 19px;
            }
            
            .desk-only {
                display: none;
            }
            
            .mob-only {
                display: block;
            }
        }

        .days-filter {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            position: absolute;
            top: 95%;
            padding: 135px 20px 10px 20px;
            border-radius: 15px;

            button {
                margin-bottom: 10px;
                font-size: 15px;
            }
        }
    }

    // Cards section styles
    .cards {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: none;
        place-self: center;
        row-gap: 70px;

        .card.work, .card.play, .card.study, .card.exercise, .card.social, .card.self-care {
            position: relative;
    
            .info {
    
                .type {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                }

                .hours {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;

                    .current-hours {
                        font-size: 24px;
                        font-weight: 300;
                        margin-bottom: 0px;
                    }
        
                    .last-hours {
                        color: $pale-blue;
                        font-size: 14px;
                    }
                }
            }
        }

        .card.work {
            margin-top: 115px;
        }
    }
}

